.App {
  text-align: center;
}

.App-logo {
  width: 10%;
  min-width: 125px;
  pointer-events: none;
  border-radius: 10px;
}

.headerTable {
  position: absolute;
  top: 4%;
  left: 4%;
  vertical-align: top !important;
  border-spacing: 0px;
  background-color:rgba(255, 255, 255, 0.5) !important;
  width: 100%;
}

td {
  vertical-align: top;
  text-align: left;
}

.pageHeader {
  vertical-align: top;
  color: #341779;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  font-weight: 900;
  font-size: 150%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pageSubHeader {
  color: #200266;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  font-weight: 500;
  font-size: 80%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 16%;
  left: 40%;
}

.form-container {
  background-color: rgba(255, 255, 255 0.4) !important;
  border-radius: 5px;
  position: absolute;
  top: 35%;
  left: 0px;
  width: 100%;
  justify-content: left;
  text-align: left;
  color: #341779;
}

.gdpr {
  padding-top: 20px;
  word-wrap: normal;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: rgb(168, 0, 0);
  line-height: 1.5em;
}

.btn {
  border: solid 1.5px #341779;
  border-radius: 20px;
  background-color: transparent;
  color: #341779;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
}

.fields {
  height: 25px;
  border-radius: 5px;
  font-size: 18px;
}

.form-row {
  padding-top: 10px;
}

.btn:hover {
  color: whitesmoke;
  background-color: #341779;
}

@media (prefers-reduced-motion: no-preference) {}

.App-header {
  /* background-color: #5c84d5;*/
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}