.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  border-radius: 10px;
  position: absolute;
  top: 10px;
}

.pageHeader {
  color: #341779;
  background-color: rgba(255, 255, 255 0.4) !important;
  border-radius: 5px;
  position: absolute;
  top: 120px;
  left: 0px;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  font-size: 32px;
}

.form-container{
  background-color: rgba(255, 255, 255 0.4) !important;
  border-radius: 5px;
  position: absolute;
  top: 280px;
  left: 0px;
  width: 100%;
  justify-content: left;
  text-align: left;
  color: #341779;
}

.gdpr{
  padding-top: 20px;
  max-width: 500px;
  word-wrap: normal;
  font-weight: 600;
  font-size: 13px;
  text-align: justify;
}

.btn {
  border: solid 1.5px #341779;
  border-radius: 20px;
  background-color: transparent;
  color: #341779;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
}

.fields {
  height: 25px;
  border-radius: 5px;
  font-size: 18px;
}

.form-row {
  padding-top: 10px;
}

.btn:hover {
  color: whitesmoke;
  background-color: #341779;
}

@media (prefers-reduced-motion: no-preference) {}

.App-header {
  /* background-color: #5c84d5;*/
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}